{% extends "/layout.html" %}

{% block title %}ブログ一覧{% endblock %}
{% block h1 %}ミニブログを作ってみよう{% endblock %}

{% block content %}
    <p><a href="{{ url_for('blogs.create') }}">新規投稿</a></p>
  <div>
    <ul>
      {% for blog in blogs %} <!-- ループさせてそれぞれ要素を取り出す -->
        <li>
          <h2><a href="{{ url_for('blogs.detail', blog_id=blog.id) }}">{{ blog.title }}</a></h2>
          
          <p>
            <strong>本文:</strong> 
            {{ blog.body | truncate(80) }} </p>
          
          <div class="list-meta">
            <strong>投稿者:</strong> {{ blog.user_name }}
          </div>

          <div class="list-meta">
            <strong>投稿日時:</strong> {{ blog.created_at.strftime('%Y-%m-%d %H:%M') }}
          </div>
          
          <div class="list-edit">
            <a href="{{ url_for('blogs.edit', blog_id=blog.id) }}">[編集]</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}